.pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #80bdff;
    color: #fff;
  }
  
  @media (max-width: 400px) {
    .pagination button {
      padding: 3px 6px;
      font-size: 12px;
    }
  }